body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo {
    background-image: url("https://4kwallpapers.com/images/wallpapers/basketball-black-3840x2160-17410.jpg"); no-repeat center center fixed;
    background-size: cover;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    background-color: #ffffff;
    border-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rodape {
    background-color: #13131300;
    color: #ffffff;
    border-top: 1px solid #333;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}